<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "photos" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Photos</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <ul class="first">
         <li>
           <%= cl_image_tag("15259244_10103082301425215_2723375877740530519_o_iogska.jpg", alt: "") %>
           <p class="text">Aladdin - Broadway NYC</p>
         </li>

         <li>
           <%= cl_image_tag("jomcnairwedding_wgqk4e.jpg", alt: "") %>
           <p class="text">McNair Wedding</p>
         </li>

         <li>
           <%= cl_image_tag("IMG_20170128_175830_odwpao.jpg", alt: "") %>
           <p class="text">UFC Fight Night</p>
         </li>

         <li>
           <%= cl_image_tag("IMG_20161205_142945_virtqb.jpg", alt: "") %>
           <p class="text">Central Park, NYC</p>
         </li>

         <li>
           <%= cl_image_tag("IMG_20161205_103522_fxzdzj.jpg", alt: "") %>
           <p class="text">Central Park NYC</p>
         </li>

         <li>
           <%= cl_image_tag("IMG_20161203_190616_ie7lwv.jpg", alt: "") %>
           <p class="text">Quality Meats</p>
         </li>

         <li>
           <%= cl_image_tag("IMG_20161203_155155_wypqsa.jpg", alt: "") %>
           <p class="text">Traveling</p>
         </li>

         <li>
           <%= cl_image_tag("IMG_2498_ljmjaq.jpg", angle: 360, alt: "") %>
           <p class="text">Oh Snap</p>
         </li>

         <li>
           <%= cl_image_tag("15493706_10103104864768095_6430360869547241760_o_hma80t.jpg", alt: "") %>
           <p class="text">Birthday Boy</p>
         </li>

         <li>
           <%= cl_image_tag("16265954_10208460432454373_7199665185483073820_n_ap1air.jpg", alt: "") %>
           <p class="text">Snowmobiling</p>
         </li>

         <li>
           <%= cl_image_tag("16107186_10103191765977375_308445835676189110_o_nlwxln.jpg", alt: "") %>
           <p class="text">Engagement Day</p>
         </li>

         <li>
           <%= cl_image_tag("15965931_10154993504684433_7689205333812703714_n_xqqcxi.jpg", alt: "") %>
           <p class="text">Central Park, NYC</p>
         </li>

         <li>
           <%= cl_image_tag("15289067_10103081576453065_8345960211693676198_o_dq1uhs.jpg", alt: "") %>
           <p class="text">Rockefeller Center, NYC</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0335_rahur1.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0332_v8j5tx.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0326_rhxvqm.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0323_tyskao.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0293_kfdom8.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0292_syvjw3.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0287_fcvbjn.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0285_zubjhn.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0281_djrpmz.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0263_ikrv2d.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0253_dw0hbb.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0252_xmrhse.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0237_ob4cvy.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0235_mwy3dh.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <li>
           <%= cl_image_tag("JoRae-Web-IMG_0234_ny4lfn.jpg", alt: "") %>
           <p class="text">Engagment pics</p>
         </li>

         <!-- <li>
           <%= cl_image_tag("", alt: "") %>
           <p class="text">More Coming Soon...</p>
         </li> -->
      </ul>

    </div>
  </div>
</div>