<div class="container registry">
  <div class="row">
    <div class="col-xs-12">
      <h2>Registry</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="well well-sm center-text">
        <%= image_tag("amazon-logo.png", alt: "", class: "img-responsive top30 bottom30") %>
        <%= link_to "Visit Registry", "https://www.amazon.com/wedding/jorae-hohnholt-mike-orr-saratoga-july-2017/registry/3M9ZHBDMH4HMO", :target => "_blank", class: "bold"%>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="well well-sm center-text">
        <%= image_tag("cb2-logo.png", alt: "", class: "img-responsive top30 bottom30") %>
        <%= link_to "Visit Registry", "http://www.crateandbarrel.com/gift-registry/jorae-hohnholt/r5647245", :target => "_blank", class: "bold"%>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="well well-sm center-text">
        <%= image_tag("bedbathbeyond-logo.png", alt: "", class: "img-responsive top30 bottom30") %>
        <%= link_to "Visit Registry", "https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=544238502&pwsurl=", :target => "_blank", class: "bold"%>
      </div>
    </div>

  </div>
</div>