<div class="container things-to-do">
  <div class="row">
    <div class="col-xs-12">
      <h2>Things To Do</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Wyoming</h3>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bold">Saratoga Inn Resort</span>
      </div>
      <div class="panel-body">
        <p class="bold">Saratoga</p>
        <p>Golf, Brewery, and Natural Hot Springs. You must be a hotel guest to utilize the hot springs here.</p>
        <p>601 Pic Pike Rd, Saratoga, WY 82331</p>
        <p><%= link_to "Website", "http://saratogahotspringsresort.com/", :target => "_blank" %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bold">Hobo Hot Pool</span>
      </div>
      <div class="panel-body">
        <p class="bold">Saratoga</p>
        <p>These hot springs are free and open to the public.</p>
        <p>W Walnut street, Saratoga, WY 82331</p>
        <p><%= link_to "Website", "http://saratogachamber.info/play-here/things-to-do/mineral-hot-springs/", :target => "_blank" %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bold">Lollypops</span>
      </div>
      <div class="panel-body">
        <p class="bold">Saratoga</p>
        <p>Ice Cream and Coffee.</p>
        <p>107 W Bridge Ave, Saratoga, WY 82331</p>
        <p><%= link_to "Website", "https://www.facebook.com/lollypopssaratoga/", :target => "_blank" %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bold">Float the River</span>
      </div>
      <div class="panel-body">
        <p class="bold">Saratoga</p>
        <p>The Upper North Platte River and the Encampment River are two of Wyoming’s best rivers for float trips.</p>
        <p></p>
        <p><%= link_to "Website", "http://saratogahotspringsresort.com/summer-adventures/#1446052665752-c500ca90-2b2f", :target => "_blank" %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bold">Snowy Moutain Range</span>
      </div>
      <div class="panel-body">
        <p class="bold">Saratoga</p>
        <p>Hiking and scenic lookout points.</p>
        <p></p>
        <p><%= link_to "Website", "http://www.travelwyoming.com/listing/centennial/snowy-range-scenic-byway", :target => "_blank" %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bold">Other Things To Do</span>
      </div>
      <div class="panel-body">
        <p class="bold">Saratoga</p>
        <p>Where the Trout Leap in Main Street</p>
        <p></p>
        <p><%= link_to "Website", "http://www.saratoga.govoffice2.com/index.asp?SEC=5FBF1573-7D26-4E84-8B5E-5595E9045B4C&Type=B_LOC", :target => "_blank" %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <h3>Colorado</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Machete Tequila + Tacos</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver</p>
          <p>Delicious tacos and tequila downtown.</p>
          <p>1730 Wynkoop St, Denver, CO 80202</p>
          <p><%= link_to "Website", "http://machetedenver.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Union Station</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver</p>
          <p>Restaurants, bars, coffee, ice cream, and bookshop in the heart of Denver.</p>
          <p>1701 Wynkoop St, Denver, CO 80202</p>
          <p><%= link_to "Website", "http://unionstationindenver.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Coor's Field</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver</p>
          <p>Home of the Colorado Rockies.</p>
          <p>2001 Blake St, Denver, CO 80205</p>
          <p><%= link_to "Website", "http://colorado.rockies.mlb.com/index.jsp?c_id=col", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Cherry Creek Mall</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver</p>
          <p>Fancy mall.</p>
          <p>3000 E 1st Ave, Denver, CO 80206</p>
          <p><%= link_to "Website", "https://www.shopcherrycreek.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Flatirons Mall</span>
        </div>
        <div class="panel-body">
          <p class="bold">Broomfield</p>
          <p>Mall in the 'burbs.</p>
          <p>1 W Flatiron Crossing Dr, Broomfield, CO 80021</p>
          <p><%= link_to "Website", "http://www.flatironcrossing.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Voodoo Donuts</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver</p>
          <p>Unique and delicious donut shop.</p>
          <p>1520 E Colfax Ave, Denver, CO 80218</p>
          <p><%= link_to "Website", "http://voodoodoughnut.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Lamar's Donuts</span>
        </div>
        <div class="panel-body">
          <p class="bold">Westminster</p>
          <p>Another donut shop.</p>
          <p>9940 Wadsworth Pkwy, Westminster, CO 80021</p>
          <p><%= link_to "Website", "www.lamars.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Snooze</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver/Boulder/Ft. Collins</p>
          <p>INCREDIBLE Breakfast!</p>
          <p>Multiple Locations</p>
          <p><%= link_to "Website", "http://snoozeeatery.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">The Sweet Cow</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver/Louisville</p>
          <p>Ice Cream</p>
          <p>637 Front St, Louisville, CO 80027</p>
          <p><%= link_to "Website", "http://www.sweetcowicecream.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Breweries w/ Tap Rooms</span>
        </div>
        <div class="panel-body">
          <p class="bold">Colorado</p>
          <p>Fat Tire, Odell's, Coors, Budweiser, Liquid Mechanics, Avery, Lefthand Brewing, Breckenridge Brewing Company, Industrial Revolution Brewing Company, Colorado Keg House - to name a few.</p>
          <p><%= link_to "Website", "http://www.coloradocraftbrews.com/colorado-breweries/", :target => "_blank" %></p>
        </div>
      </div>
    </div>


  </div>
</div>