<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "rsvp" %>
<% end %>

<div class="container top30">
  <div class="row">
    <div class="col-xs-12">
      <h2>RSVP</h2>
    </div>
  </div>

  <div id="inviteJumbotron" class="jumbotron invite-lookup">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <form>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control bold" id="lastName" placeholder="Johnson">
          </div>
          <div class="form-group">
            <label for="inviteCode">Invite Code</label>
            <input type="text" class="form-control bold" id="inviteCode" placeholder="XD29J3ND">
          </div>
          <button type="submit" id="startRsvpBtn" class="btn btn-lg btn-primary">Start RSVP</button>
        </form>
      </div>
    </div>
  </div>

  <div id="rsvpJumbotron" class="jumbotron rsvp hidden">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <%= form_for @rsvp, url: {action: "create"} do |f| %>
          <%= f.hidden_field :invite_id, id: "inviteId" %>

          <h3 id="guestName">Guest Name</h3>

          <div class="row" id="isAttending">
            <div class="col-xs-12 col-sm-12">
              <label class="radio-inline">
                <input type="radio" name="optradio" value="yes" checked="true">We'll be there!
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" value="no">We cannot make it.
              </label>
            </div>
          </div>

          <div class="row" id="rsvpDetails">
            <div class="col-xs-12 col-sm-12">

              <div class="form-group top10">
                <%= f.label :guest_count, "Total Guests: " %>
                <%= f.number_field :guest_count, class: "bold" %>
              </div>

              <p class="bold small-text">We will have a BBQ buffet for dinner, but a vegetarian lasagna option is available as well. Please let us know how many vegetarian options are needed for dinner. </p>

              <div class="form-group top10">
                <%= f.label :vegetarian_count, "Vegetarian Dinners: " %>
                <%= f.number_field :vegetarian_count, class: "bold", value: 0 %>
              </div>

              <p class="bold small-text">We will be providing a continental breakfast Sunday morning in the church hall. Please see the Home page schedule for details.</p>

              <div class="form-group top10">
                <%= f.radio_button :wants_breakfast, true, :checked => true %>
                <%= label :attending_breakfast_yes, "Attending breakfast" %>
                <%= f.radio_button :wants_breakfast, false %>
                <%= label :attending_breakfast_no, "Not attending breakfast" %>
              </div>

            </div>
          </div>

          <%= f.submit "Complete RSVP", class: "btn btn-lg btn-danger bold pull-right" %>

        <% end %>
      </div>
    </div>
  </div>

</div>