<!DOCTYPE html>
<html>
  <head>
    <title>fORReverafter</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:400,700" rel="stylesheet">

    <meta name="application-name" content="fORReverafter"/>
    <meta name="apple-mobile-web-app-title" content="fORReverafter">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="bold"><%= value %></div>
       </div>
    <% end %>

    <%= yield %>

    <%= render partial: "shared/footer" %>
  </body>
</html>
